.first-cont{
    
    padding-left: 0;
    max-width: 1920px;
    
    
}
#main-content {
    background-color: gainsboro;
    
}
#overview{
    background-color: gainsboro;
}


.page-header{
    text-align: center;
    
}
.parceiros{
    background-color: gainsboro;
}
.margin{
    padding: 50px;
}